td{
    padding: 25px;
}
/* Relief */
.imageWithBoxShadow {
    background-image: url(images/mouse.jpg);
    width: 160px;
    height: 160px;
    background-color: grey;
    border-radius: 20px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 
    inset rgb(238, 238, 241) 28px  18px 20px -30px,
    inset rgb(78, 78, 80)    -28px -18px 20px -30px;
}

.rectangle {
    width: 160px; 
    height: 160px; 
    background-color: grey; 
    border-radius: 20px;
    box-shadow: 
        inset rgb(143, 140, 140) 28px  28px 10px -20px,
	    inset rgb(83, 82, 82)    -28px -28px 10px -20px;
}

.imageWithBoxShadow2{
    background-image: url(images/10031-160x160.jpg);
    width: 160px;
    height: 160px;
    background-color: grey;
    border-radius: 20px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 
    inset rgb(129, 187, 148) 25px  20px 25px -30px,
    inset rgb(51, 65, 2)    -25px -20px 25px -30px;
}
/* Embeded */
.imageEmbedded {
    background-image: url(images/mouse.jpg);
    width: 160px;
    height: 160px;
    background-color: grey;
    border-radius: 100px;
    /* тень внешняя внизу и внутренняя вверху */
    box-shadow: 
              0 1px 0 rgba(255,255,255,.2),
        inset 0 6px 8px rgba(0,0,0,.6);
}

.rectangleEmbeded {
    width: 160px; 
    height: 160px; 
    background-color: grey; 
    border-radius: 100px;
    box-shadow: 0 1px 0 rgba(255,255,255,.2),
 inset 0 4px 5px rgba(0,0,0,.6);
}

.imageEmbedded2{
    background-image: url(images/10031-160x160.jpg);
    width: 160px;
    height: 160px;
    background-color: rgb(15, 15, 15);
    border-radius: 100px;
    box-shadow: 
              0 2px 0 rgba(255,255,255,.2),
        inset 0 6px 8px rgba(0,0,0,.6);
}